.overview {
    padding: 1.875rem 0 1.875rem 0;
    padding-inline: 1.5rem;
    &.hide {
        display: none;
    }
    .filter-area {
        max-width: 9.75rem;
        margin: 0 0 2rem 0;
    }

    .atm-data {
        display: grid;
        grid-template-columns: repeat(auto-fill, 16.1875rem);
        gap: 1.75rem;
    }
}