.scrollbar::-webkit-scrollbar {
    // vertical
    width: .2em;
    // horizontal
    height: .2em;
}

.scrollbar::-webkit-scrollbar-track {
    background-color: inherit;
    border-radius: 100vw;
    margin-block: 0.5em;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #0F0700;
    border: 0.1em solid #00a2ff00;
    border-radius: 100vw;
    transition: background-color 0.25s ease;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #424242;
}

@supports (scrollbar-color: #ffffff #0F0700) {
    .scrollbar {
        scrollbar-color: #0F0700 rgba(255, 255, 255, 0);
        scrollbar-width: thin; // auto, thin, none
    }
}