*, *::after, *::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
}



html {
  scroll-behavior: smooth; 
}

body {
  font-family: 'Nunito', sans-serif;
}

body h1, body h2, body h3, body h4, body h5, body p {
  margin: 0;
}

body a {
  text-decoration: none;
}

body ul {
  padding: 0;
  list-style: none;
}